
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            
          </div>
          <div class="col-4 text-center">
            <p class="blog-header-logo text-dark" href="#">Linghan Zhang</p>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a href ="mailto:lzhang@cs.fsu.edu" class="btn btn-sm header-link"><i class="material-icons" style="font-size:1.2rem;">email</i> &raquo;</a>
          </div>
        </div>
      </header>


      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#">Github</a>
          <a class="p-2 text-muted" href="#">Linkedin</a>
          <a class="p-2 text-muted" href="#">Research</a>
          <a class="p-2 text-muted" href="#">Paper</a>
          <a class="p-2 text-muted" href="#">Experience</a>
          <a class="p-2 text-muted" href="#">Graduation</a>
          <a class="p-2 text-muted" href="#">Others</a>
          <a class="p-2 text-muted" href="#"></a>
          
        </nav>
      </div>


      
